In [1]:
import MySQLdb
import timeit
from __future__ import division   

db = MySQLdb.connect(host="localhost",  # your host 
                     user="root",       # username
                     passwd="tianyu5293",     # password
                     db="info7390")   # name of the database

# Create a variable stores the total number of Santander recordes
total = 95071

# Create a Cursor object to execute queries
cursor = db.cursor()

# Query 1

Count the number of customers that have more than one Saving Account.

In [2]:
query = "SELECT COUNT(*) AS count FROM santander WHERE ind_ahor_fin_ult1 > '1'"

cursor.execute(query) 

for row in cursor.fetchall() :
    print 'The number of Santander customers that have more than one Saving Account is:', row[0]
    print 'The percentage is ' + str(float(row[0]/total * 100)) + '%'

The number of Santander customers that have more than one Saving Account is: 6455
The percentage is 6.78966246279%

In [3]:
timeit.Timer('cursor.execute(query)',setup="from __main__ import cursor,query").timeit(number=1)

0.05897402763366699

# Query 2

Count the number of customers that are younger than 20 years old.

In [4]:
query = "SELECT COUNT(*) AS count FROM santander WHERE age < '25'"

cursor.execute(query)

for row in cursor.fetchall() :
    print 'The number of customers that are younger than 20 years old is:', row[0]
    print 'The percentage is ' + str(float(row[0]/total * 100)) + '%'

The number of customers that are younger than 20 years old is: 39282
The percentage is 41.3185934722%

In [5]:
timeit.Timer('cursor.execute(query)',setup="from __main__ import cursor,query").timeit(number=1)

0.05112600326538086

# Query 3

Count the number of customers whose gross income of the household is larger than $100,000.

In [6]:
query = "SELECT COUNT(*) AS count FROM santander WHERE renta > '150000'"

cursor.execute(query)

for row in cursor.fetchall() :
    print 'The number of customers whose gross income of the household is larger than $100,000 is:', row[0]
    print 'The percentage is ' + str(float(row[0]/total * 100)) + '%'

The number of customers whose gross income of the household is larger than $100,000 is: 57175
The percentage is 60.1392643393%

In [7]:
timeit.Timer('cursor.execute(query)',setup="from __main__ import cursor,query").timeit(number=1)

0.10303092002868652

# Query 4

Count the number of customers who own Junior Account.

In [8]:
query = "SELECT COUNT(*) AS count FROM santander WHERE ind_ctju_fin_ult1 > '0'"

cursor.execute(query)

for row in cursor.fetchall() :
    print 'The number of customers who own Junior Account is:', row[0]
    print 'The percentage is ' + str(float(row[0]/total * 100)) + '%'

The number of customers who own Junior Account is: 853
The percentage is 0.897224179824%

In [9]:
timeit.Timer('cursor.execute(query)',setup="from __main__ import cursor,query").timeit(number=1)

0.0493319034576416

# Query 5

Show the gender, age and city of top 3 rich people in this dataset!

In [10]:
query = "SELECT sexo, age, nomprov FROM santander ORDER BY renta DESC LIMIT 5"

cursor.execute(query)

print ('Gender, Age,    City')

for row in cursor.fetchall() :
    print '  ', row[0],'  ', row[1], '  ', row[2]

Gender, Age,    City
   H    22    "CADIZ"
   V    78    "SALAMANCA"
   V    54    "MADRID"
   H    31    "GRANADA"
   H    23    "PONTEVEDRA"

In [11]:
timeit.Timer('cursor.execute(query)',setup="from __main__ import cursor,query").timeit(number=1)

0.10169601440429688